.fix-nav .navbar-header {
  float: none;
}
.fix-nav .navbar-toggle {
  display: block;
}
.fix-nav .navbar-collapse {
  border: none!important;
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0) !important;
}
.fix-nav .navbar-default .navbar-form {
  border: none;
}
.fix-nav .navbar-collapse.collapse {
  display: none!important;
}
.fix-nav .navbar-nav {
  float: none!important;
  margin: 7.5px -15px;
}
.fix-nav .navbar-nav > li {
  float: none;
}
.fix-nav .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 480px) {
  body .navbar-brand:hover span {
    display: none!important;
  }
  body .tags li {
    float: none!important;
  }
  body .notes li {
    float: none!important;
    text-align: right;
  }
  body .notes ol li {
    text-align: left;
  }
  body .footer img {
    display: block;
    margin: 0 auto 15px auto;
  }
  body .footer p {
    text-align: center;
  }
  body .footer .meta-links {
    float: none;
  }
  body .footer .meta-links li {
    text-align: center;
  }
  body .footer .col-xs-2,
  body .footer .col-xs-8 {
    display: block;
    width: 100%;
  }
  body .footer .social-icons li {
    float: none;
    text-align: center;
    margin: 0;
  }
  body .footer cite {
    margin: 20px 0 0 0;
  }
}
@media (max-width: 767px) {
  body .navbar-header {
    float: none;
  }
  body .navbar-toggle {
    display: block;
  }
  body .navbar-collapse {
    border: none!important;
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0) !important;
  }
  body .navbar-default .navbar-form {
    border: none;
  }
  body .navbar-collapse.collapse {
    display: none!important;
  }
  body .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  body .navbar-nav > li {
    float: none;
  }
  body .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  body .navbar-header {
    float: none;
  }
  body .navbar-toggle {
    display: block;
  }
  body .navbar-collapse {
    border: none!important;
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0) !important;
  }
  body .navbar-default .navbar-form {
    border: none;
  }
  body .navbar-collapse.collapse {
    display: none!important;
  }
  body .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  body .navbar-nav > li {
    float: none;
  }
  body .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 979px) {
  body .navbar-header {
    float: none;
  }
  body .navbar-toggle {
    display: block;
  }
  body .navbar-collapse {
    border: none!important;
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0) !important;
  }
  body .navbar-default .navbar-form {
    border: none;
  }
  body .navbar-collapse.collapse {
    display: none!important;
  }
  body .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  body .navbar-nav > li {
    float: none;
  }
  body .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (min-width: 980px) {
  body .navbar-header {
    float: none;
  }
  body .navbar-toggle {
    display: block;
  }
  body .navbar-collapse {
    border: none!important;
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0) !important;
  }
  body .navbar-default .navbar-form {
    border: none;
  }
  body .navbar-collapse.collapse {
    display: none!important;
  }
  body .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  body .navbar-nav > li {
    float: none;
  }
  body .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  body .navbar-header {
    float: none;
  }
  body .navbar-toggle {
    display: block;
  }
  body .navbar-collapse {
    border: none!important;
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0) !important;
  }
  body .navbar-default .navbar-form {
    border: none;
  }
  body .navbar-collapse.collapse {
    display: none!important;
  }
  body .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  body .navbar-nav > li {
    float: none;
  }
  body .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}